{{#if success}}
<p><strong>Test Input:</strong></p>
{{#each data.input}}
<div class="row">
  <div class="col-md-12">
    <p>{{this}}</p>
  </div>
</div>
{{/each}}
<p><strong>Test Output:</strong></p>
{{#each data.output}}
<div class="row">
  <div class="col-md-12">
    <p>{{this}}</p>
  </div>
</div>
{{/each}}
{{else}}
<div class="row">
  <div class="col-md-12">
    <p>Extension not supported</p>
  </div>
</div>

{{/if}}
